<!-- mypage.html -->
{% extends 'base.html' %}

{% block title %}
Pro
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title-center">프로필 수정</h1>
    <div class="wrap">
        <div class="form-area">
            <!-- 내 정보 표시 및 수정 폼 -->
            <h3>내 정보</h3>
            <form action="/mypage_update/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">사용자명</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" >
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" >
                </div>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" value="{{ user.nickname }}" >
                </div>
                <div class="form-group">
                    <label for="password">새 비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="confirm-password">비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
