{% extends 'base.html' %}

{% block title %}
Feed
{% endblock %}

{% block content %}
<div class="container timeline-container">
    <div class="row">
    <!-- 왼쪽 컬럼 -->
        <!--로그인 안된상태-->
        {% if not user.is_authenticated %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form class="form-area" action="/login/" method="post">
                        {% csrf_token %}
                        <div class="form-group mt-2 mb-2">
                            <label for="username">ID</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label for="password">PW</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <hr>
                        <div style="float: right">
                            <button type="submit" class="btn btn-primary">로그인</button>
                            <a href="/signup" class="btn btn-secondary">회원가입</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--로그인상태-->
        {% else %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text"> 유저 소개말 </p>
                    <!--프로필페이지-->
                    <a href="프로필페이지.html" class="card-text"> 프로필페이지 </a>
                    <!--프로필페이지-->
                </div>
            </div>
        </div>
        {% endif %}

    <!-- 오른 쪽 컬럼-->
        <div class="col-md-7">
            <!-- 글을 작성 하는 곳 -->
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
<!--                                <h5 style="text-align: center;" class="mt-0">아래는 글 목록입니다.</h5>-->

<!--                                #로고이미지-->
                                    <img src="/static/img/logo.png" style="max-width: 100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- 작성 된 글이 나오는 곳 -->
            <div class="row">
                {% for tw in tweet %}
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            {% if tw.author == user %}
                            <div style="display: flex; flex-direction: row; justify-content: right">
                                <div style="text-align: right; margin-right: 10px">
                                    <a href="/tweet/delete/{{ tw.id }}">
                                        <span class="badge rounded-pill bg-danger">삭제</span>
                                    </a>
                                </div>
                                <div style="text-align: right">
                                    <a href="/tweet/{{ tw.id }}">
                                        <span class="badge rounded-pill bg-success">보기</span>
                                    </a>
                                </div>
                            </div>
                            {% elif tw.author != user %}
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                            {% endif %}

                            <a href="마이페이지/유저">{{ tw.author.username }}</a>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="mt-0">{{ tw.content }}</h4>
                                    <h6 class="mt-0">{{ tw.content }}</h6>
                                </div>
                                <div style="text-align: right">
                                    <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}



<!--testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest-->
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-direction: row; justify-content: right">
                                <div style="text-align: right; margin-right: 10px">
                                    <a href="/tweet/delete/{{ tw.id }}">
                                        <span class="badge rounded-pill bg-danger">삭제</span>
                                    </a>
                                </div>
                                <div style="text-align: right">
                                    <a href="/tweet/{{ tw.id }}">
                                        <span class="badge rounded-pill bg-success">보기</span>
                                    </a>
                                </div>
                            </div>

                            <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="mt-0">{{ tw.content }}dd</h4>
                                    <h6 class="mt-0">{{ tw.content }}ddd</h6>
                                </div>
                                <div style="text-align: right">
                                    <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: right">
                            <div style="text-align: right; margin-right: 10px">
                                <a href="/tweet/delete/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/{{ tw.id }}">
                                    <span class="badge rounded-pill bg-success">보기</span>
                                </a>
                            </div>
                        </div>

                        <a href="마이페이지/유저">{{ tw.author.username }}d</a>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="mt-0">{{ tw.content }}dd</h4>
                                <h6 class="mt-0">{{ tw.content }}ddd</h6>
                            </div>
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest-->




            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}