{% extends 'base.html' %}

{% block title %}
Feed
{% endblock %}

{% block content %}
<div class="container timeline-container">
    <div class="row">
        <!-- 왼쪽 컬럼 -->
        <!--로그인 안된상태-->
        {% if not user.is_authenticated %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form class="form-area" action="/login/" method="post">
                        {% csrf_token %}
                        <div class="form-group mt-2 mb-2">
                            <label for="username">ID</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label for="password">PW</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <hr>
                        <div style="float: right">
                            <button type="submit" class="btn btn-outline-success">로그인</button>
                            <a href="/signup" class="btn btn-success">회원가입</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--로그인상태-->
        {% else %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <!--프로필페이지-->
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#"> 마이페이지 </a>
                        <a class="nav-link" href="/post/">글 작성하기</a>
                    </nav>
                    <!--프로필페이지-->
                </div>
            </div>
        </div>
        {% endif %}

        <!-- 오른 쪽 컬럼-->
        <div class="col-md-7">
            <!-- 글을 작성 하는 곳 -->
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <!--                                <h5 style="text-align: center;" class="mt-0">아래는 글 목록입니다.</h5>-->

                                    <!--                                #로고이미지-->
                                    <img src="/static/img/logo.png" style="max-width: 100%">
                                </div>
                                <div class="media-body" style="text-align: right">
                                    {# # 게시글 작성 연결#}
                                    <a href="/post/" style="text-align: center;" class="mt-0">글 작성하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- 작성 된 글이 나오는 곳 -->
            <div class="row">
                {% for post_feed in post_fedds %}
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">


{#                            #게시글 자세히 보기 관련,다른사람 게시물 볼 수 있게 수정 진행함#}
                            {% if user.is_authenticated %}
                                <div style="display: flex; flex-direction: row; justify-content: right">

                                    <div style="text-align: right">
                                        <a href="/detailpost/{{ post_feed.id }}">
                                            <span class="badge rounded-pill bg-success">보기</span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                            <a href="마이페이지/유저">{{ post_feed.author.username }}</a>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="mt-0">{{ post_feed.title }}</h4>
                                    <h6 class="mt-0">{{ post_feed.content|slice:":20" }}</h6>
                                </div>
                                <div style="text-align: right">
                                    <span style="font-size: small">{{ post_feed.created_at|timesince }}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}