{% extends 'base.html' %}

{% block title %}
    게시글 자세히보기
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">

            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="/">피드페이지</a>
                            <a class="nav-link" href="/mypage/">마이페이지</a>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="card">

                            {#게시글 div#}
                            <div class="card-body">

                                {#수정/삭제 버튼#}
                                {% if post.author == user %}
                                    <div style="text-align: right">
                                        <a href="/detailpost/update/{{ post.id }}">
                                            <span class="badge rounded-pill bg-success">수정</span>
                                        </a>
                                    </div>
                                    <div style="text-align: right">
                                        <a href="/detailpost/delete/{{ post.id }}">
                                            <span class="badge rounded-pill bg-danger">삭제</span>
                                        </a>
                                    </div>
                                {% endif %}
                                {#수정/삭제 버튼#}

                                {#게시글 내용#}
                                <div class="media">
                                    <h3 class="mt-0">제목 : {{ post.title }}</h3>
                                    <div class="media-bod">
                                        <h5 class="mt-0">{{ post.content }}</h5>

                                    </div>
                                    <div style="text-align: right">
                                        <span style="font-size: small">
                                            작성자: {{ post.author.username }} /
                                            수정 {{ post.update_at|timesince }} 이전 /
                                            {{ post.create_at|date:'Y-m-d'}} 작성
                                        </span>

                                        <br><span style="font-size: small">{{ post.comment_count }}개</span>
                                        <button onclick="comment_all()" type="button" class="btn btn-outline-success">댓글 보기</button>
                                    </div>
                                </div>
                                {#게시글 내용#}

                            </div>
                            {#게시글 div#}

                        </div>

                        <hr>

                        <div id="comment_list">

                            {#댓글 수정#}
                            <form method="post" action="/detailpost/post_comment/update/{{ post_comment.id }}">
                                {% csrf_token %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-bod">
                                                <input type="text" id="post_comment_content" name="post_comment_content" value="{{ post_comment.content }}" placeholder="댓글">
                                                <div style="text-align: right; margin-top: 10px">
                                                    <button type="submit" class="btn btn-outline-success">수정 하기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {#댓글 수정#}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}