
{% extends 'base.html' %}

{# 사용자가 로그인 하고 있는 상태인지 확인 #}

{#로그인 했을경우#}
{% block content %}
    <div class="container timeline-container">
        <div class="row">
            {#  nav  #}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="/">피드페이지</a>
                            <a class="nav-link" href="/mypage">마이페이지</a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <h2><b>{{ user.username }}</b>님 오늘은 어떤 좋은 일이 있었나요? </h2>
                        {#    #폼 methon, action 수정#}
                        <form method="post" action="/post/">
                            {% csrf_token %}
                            <div>
                                {#        <label for="title">제목</label>#}
                                <input type="text" id="title" name="title" placeholder="어떤 점이 인상깊었나요?">
                            </div>
                            <br>
                            <div>
                                <textarea type="text" id="user-content" name="user-content" placeholder="오늘 있었던 일을 입력해 보세요!!"></textarea>
                            </div>
                            <br>
                                <button type="submit" class="btn btn-outline-success" >작성 하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
